.mainHeader {
  background-image: url("/images/header-bg.jpg");
  background-size: cover;
  height: 18vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeading {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

@media (min-width: 0px) {
  .mainHeading {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .mainHeading {
    font-size: 28px;
  }
}

.formSection {
  background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1150px;
    margin: auto;
}

.formSectionName {
  background-color: rgb(96, 26, 121);
  color: #FFF;
  padding: 8px 16px;
  border-radius: 5px;
  margin-left: 8px;
  padding: 0 1rem;
  font-size: 1.2rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
}

.mt3 {
  margin-top: 20px;
}

.footer {
  background: linear-gradient(266.33deg, rgb(213, 3, 125) 3.04%, rgb(118, 3, 113) 16.97%, rgb(25, 5, 83) 45.49%);
    height: 35px;
}